@page
@model ViewModel
@{
	ViewData["Title"] = Model.DisplayedRevision?.DisplayTitle ?? Model.DisplayedRevision?.Title ?? "Article Not Found";
}
@* <div class="image-wrapper">
	<img class="topp" src="/sitefiles/test-header.png" />
</div> *@

<figure>
	@if(!string.IsNullOrWhiteSpace(Model.HeaderImage))
	{
		<img src="@Model.HeaderImage" alt="..." class="hero-image" />
	}
	<h1>@Html.Raw(System.Net.WebUtility.HtmlEncode(string.IsNullOrWhiteSpace(Model.DisplayedRevision?.DisplayTitle) ? Model.DisplayedRevision?.Title : Model.DisplayedRevision?.DisplayTitle)?.Replace("\r\n", "\n").Replace("\r", "\n").Replace("\n", "<br />"))</h1>
</figure>

@* <h1 class="title">@Model.DisplayedRevision?.Title</h1> *@




@* 			<img class="topp" src="/sitefiles/test-header.png" />
 *@

@if (Model.IsViewingCurrentRevision && Model.Revision is not null)
{
	<div class="alert alert-info">
		<strong>You are viewing the current revision of this article.</strong><br>
		To see the canonical URL, visit:
		<a href="/@Model.CurrentRevision?.UrlSlug" class="btn btn-sm btn-primary">Go to Latest Version</a>
	</div>
}

@if (Model.IsPriorRevision && Model.DisplayedRevision is not null && Model.CurrentRevision is not null)
{
	<div class="alert alert-warning">
		<strong>You're viewing a prior revision.</strong><br>
		This revision was published on <strong>@Model.DisplayedRevision.DateCreated.ToString("dd MMMM yyyy HH:mm")</strong>.<br>
		The current version was published on <strong>@Model.CurrentRevision.DateCreated.ToString("dd MMMM yyyy HH:mm")</strong>.
		<a href="/@Model.CurrentRevision.UrlSlug" class="btn btn-sm btn-primary">View Current</a>

		@if (Model.HasTitleChanged)
		{
			<p class="text-danger">
				<strong>Note:</strong> The title of this article has changed from
				"<strong>@Model.DisplayedRevision.Title</strong>" to
				"<strong>@Model.CurrentRevision.Title</strong>".
			</p>
		}

		@if (Model.HasUrlSlugChanged)
		{
			<p class="text-danger">
				<strong>Note:</strong> The URL of this article has changed from
				"<strong>@Model.UrlSlug</strong>" to
				"<strong>@Model.CurrentRevision.UrlSlug</strong>".<br>
				<a href="/@Model.CurrentRevision.UrlSlug" class="btn btn-sm btn-secondary">Go to New URL</a>
			</p>
		}
	</div>
}
else if(Model.DisplayedRevision is not null)
{
	<div class="editor-info">
		<span class="label"><small>@(Model.RecentAuthors.Count == 1 ? "Created by" : "Improved by")</small></span>
		<address class="author-list">
			@for (int i = 0; i < Model.RecentAuthors.Count; i++)
			{
				<a href="/@Model.RecentAuthors[i].UserName" class="avatar" title="@Model.RecentAuthors[i].UserName" style="z-index: @(Model.RecentAuthors.Count - i);">
					<img src="@($"/sitefiles/{Model.SiteId}/profilepics/{Model.RecentAuthors[i].ProfilePicGuid}.png")" alt="@Model.RecentAuthors[i].UserName" />
				</a>
			}

		</address>
		<span class="last-updated">
			<small>
				@WikiWikiWorld.Web.Helpers.TimeAgo.GetDetailedTimeAgoString(DateTimeOffset.UtcNow, Model.DisplayedRevision.DateCreated)
			</small>
		</span>
		<div class="dropdown">
			<button class="dropbtn">⋮</button>
			<div class="dropdown-content">
				<a href="@Model.UrlSlug/edit" rel="nofollow">Edit Article</a>
				<a href="#">View Edit History</a>
				<a href="#">Delete Article</a>
				<a href="#">Watch Article</a>
				<a href="#">Report Article</a>
			</div>
		</div>
	</div>
}

<article>


	@section Scripts {
		<script src="~/js/article-view.js" asp-append-version="true"></script>
	}







	@if (Model.DisplayedRevision is not null)
	{

		@Html.Raw(Model.ArticleRevisionHtml)


		@if(Model.IsPriorRevision)
		{
			<p>
				<small>
					Published on: @Model.DisplayedRevision.DateCreated.ToString("dd MMMM yyyy HH:mm")
				</small>
			</p>
		}


	}
	else
	{
		<p>Article not found.</p>
	}
</article>
